h1 {
    color: rgb(86, 86, 194);
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
 

#body1{
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 0px;
}
#body2{
  text-decoration: none;
  text-shadow: peachpuff;
  margin-top: 40px;
}
 
  img{
    float: right;
    width: 10px;
  }
  .top {
    margin-right: 500px;
    padding-bottom: 25px;
    padding-top: 30px;
  }
  .top2{
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
    padding-top: 30px;
    border-radius: 20%;
  }
 
  #body2{
    background-position: inherit;
    background-repeat: none;
    background-size: 90%;
  }
  .li1{
    border-width: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
  li a{
    text-decoration: none;
  }
  .navbar a{
    padding: 25px 15px;
  }
  .navbar a:hover {
    background-color:rosybrown;
    color: black;
  }
  .navbar {
    overflow: hidden;
    background-color: rgba(188, 183, 236, 0.322);
  }
  .p1{
    margin-right: 450px;
  }
  .p2{
    text-align: right;
  }