h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
  header{
    background-image: url('images/tscott.jpg');
    border: 1px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  