.h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
 

#body1{
  text-decoration: none;
  margin-top: 40px;
}
#body2{
  text-decoration: none;
  text-shadow: peachpuff;
  margin-top: 40px;
}
  #right{
    float: right;
  }
  #left{
    float: left;
  }
  img{
    float: right;
  }
  .top {
    border-bottom: 1px solid gray;
    padding-bottom: 25px;
    padding-top: 30px;
  }
  .top2{
    border-bottom: 1px solid gray;
    padding-bottom: 25px;
    padding-top: 30px;
    border-radius: 20%;
  }
 
  #body2{
    background-position: inherit;
    background-repeat: none;
    background-size: 90%;
  }
  li{
    display: inline-block;
    padding: 10px;
    margin: 5px 100px;
    border-width: 1px;
    border-style: solid;
    background-color:#f1f1f1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
  li a{
    text-decoration: none;
  }

  li a:hover {
    background-color: #555;
    color: white;
  }

  ul{
    background-color: #f1f1f1;
  }